body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main-container {
  margin: auto;
  max-width: 1200px;
  padding: 10px 20px;
  height: 100vh;
}

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 5px;
}

.nav a {
  text-decoration: none;
  color: #ccc;
  margin: 0 10px;
}